.theme-primary {
  -fx-background-color: #1976d2;
}
.theme-primary-variant {
  -fx-background-color: #1565c0ff;
}
/* BACKGROUND-COLORS */
.background-color {
  -fx-background-color: #15161a;
}
.surface-color {
  -fx-background-color: #1e1f23;
}
.error-color {
  -fx-background-color: #b00020;
}

/* TEXT-COLORS */
.text-primary-color {
  -fx-text-fill: #ffffff;
  -fx-fill: #ffffff;
}
.text-secondary {
  -fx-text-fill: #bcccdc;
  -fx-fill: #bcccdc;
}
.text-error-color {
  -fx-text-fill: #ffffff;
  -fx-fill: #ffffff;
}

/* STATE-COLORS */
.disable-color {
  -fx-text-fill: #bdbdbd;
  -fx-fill: #bdbdbd;
}
.focus-color {
  -fx-background-color: #3b38a0;
}
.hover-color {
  -fx-background-color: #7371fc;
}
.hover-color-secondary {
  -fx-background-color: #1e1f23;
}

/* BUTTON-COLORS */
.button-primary {
  -fx-background-color: #387ae9;
}
.button-secondary {
  -fx-background-color: #1565c0ff;
}
