.root {
  -fx-font-family: 'HYWenHei-85W'; /*Genshin Impact*/
  -fx-font-size: 12px;
}

.label-typo {
  -fx-font-family: 'HYWenHei-85W'; /*Genshin Impact*/
  -fx-font-size: 20px;
  -fx-text-fill: #ffffff;
  -fx-fill: #ffffff;
}

.text-field-typo {
  -fx-font-family: 'Monster Friend Back Pro'; /*Undertale*/
  -fx-font-size: 14px;
}

.caption-label-typo {
  -fx-font-family: 'HYWenHei-85W'; /*Genshin Impact*/
  -fx-font-size: 12px;
  -fx-text-fill: #ffffff;
  -fx-fill: #ffffff;
}

.title-typo {
  -fx-font-size: 28px;
  -fx-font-weight: bold;
}

.subtitle-typo {
  -fx-font-size: 20px;
}

.body-typo {
  -fx-font-size: 16px;
  -fx-text-fill: #ffffff;
  -fx-fill: #ffffff;
}

.caption-typo {
  -fx-font-size: 12px;
}
